/* http://3960.org/sandbox/button-mixins.php */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}

@konsern-light: #2768a9;
@konsert-light-10: #dae6f0;
@konsern-dark: #004c99;
@timber-light: #298a90;
@timber-light-10: #e5f1f2;
@timber-dark: #55a2a7;
@wood-light: #6b5f51;
@wood-light-10: #e9e7e5;
@wood-dark: #9c948b;
@bygg-light: #9d443e;
@bygg-light-10: #f5eceb;
@bygg-dark: #be827e;

@brown-normal: #413223;
@brown-selected: #e2dfdb;
@brown-light: #f1f1ef;

@btn-width: 174px;
@btn-heigth: 59px;


/* main stuff */
#wrapper {
    width: 920px;
    margin: 0 auto;
}

#log {
    width: 300px;
    position: absolute;

}

/* main btn */
.btn {
    position: relative;
    width: @btn-width;
    height: @btn-heigth;
}

.text-btn {
    position: absolute;
    top: @btn-heigth/2-10;
    width: @btn-width;
    float: left;
    font-size: 12px;
    color: @brown-normal;
    text-align: center;
    z-index: 10;
}

.left-btn {
    position: relative;
    width: 10px;
    height: 59px;
    background-color: #232;
    float: left;
}

.right-btn {
    position: relative;
    float: left;
    width: @btn-width - 10;
    height: @btn-heigth;
    line-height: @btn-heigth;
    opacity: .1;
}

.konsern-bg {
    .gradient (top, @konsern-light, @konsern-dark);
}

.timber-bg {
    .gradient (top, @timber-light, @timber-dark);
}

.wood-bg {
    .gradient (top, @wood-light, @wood-dark);
}

.bygg-bg {
    .gradient (top, @bygg-light, @bygg-dark);
}

.btn:hover {
    .right-btn {
        opacity: 1;
    }
    .text-btn {
        color: #fff;
    }   
}

.btn-box {
    position: relative;
    font-size: 10px;
    width: @btn-width - 4;
    height: @btn-heigth - 4;
    margin-left: 2px;
    margin-bottom: 2px;
    border: 1px solid @brown-light;
    //line-height: @btn-heigth/2;
    text-align: center;
    //background-color: @brown-light;
}

.btn-box:hover {
    border: 1px solid @brown-selected;
    //background-color: @brown-selected;
}




